@use 'variables' as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before *:after {
  box-shadow: inherit;
}
body {
  font-family: v.$fuentePricipal;
  font-size: 1.6rem;
}

[class*='contenedor'] {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}
