@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');

$primario: #4cb8b3;
$segundaria: #f53756;
$darkPrimario: #348389;
$amarilloClaro: #fef464;
$darkAmarillo: #fdee21;
$blanco: #fff;
$black: #000;
$purple: #752f97;

$fuentePricipal: 'Montserrat', sans-serif;

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$XLDesktop: 1200px;
